@font-face {
			font-family: "OpenSansRegular";
			src: url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansBold";
			src: url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "OpenSansSemiBold";
			src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "FregatRegular";
			src: url("../fonts/FregatRegular/FregatRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "FregatBold";
			src: url("../fonts/FregatBold/FregatBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}




